.CodeForm-Header {
  height: 3em;
  display: block;
  line-height: 3em;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.CodeForm-Header-Left {
  float: inline-start;
}

.CodeForm-Header-Right {
  float: inline-end;
}

.CodeForm-Row {
  display: block;
}

.CodeForm-ViewMode {
  margin: 0 auto;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
}

.CodeForm-ViewMode-Button,
.CodeForm-EditMode-Button {
  cursor: pointer;
}

.CodeForm-ViewMode-Desktop {
  /**/
}

.CodeForm-ViewMode-Tablet {
  width: 1024px;
}

.CodeForm-ViewMode-Mobile {
  width: 768px;
}
