.CodeForm-Adder {
  /* height: 0.1em; */
  height:1em;
  display: block;
  text-align: center;
  border-bottom: 0.1em dotted gray;
  border-top: 0.1em dotted gray;
}

.CodeForm-Adder:hover {
  background-color: #dadada;
}