.CodeForm-Adder {
  /* height: 0.1em; */
  height: 1em;
  display: block;
  line-height: 1em;
  user-select: none;
  color: lightgray;
  text-align: center;
  /* border-top: 0.1em dotted gray;
  border-bottom: 0.1em dotted gray; */
  background-color: #efefef;
}

.CodeForm-Adder span {
  font-size: 80%;
}

.CodeForm-Adder.Active,
.CodeForm-Adder.Active:hover {
  background-color: #ebebeb;
  color:#999999;
}

.CodeForm-Adder:hover {
  background-color: #dadada;
}

.CodeForm-Adder:hover {
  background-color: #dadada;
}
