body,
* {
  margin: 0;
}

.CodeForm-Menu {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 0.5em;
}

.IWA-Row {
  display: block;
}

.IWA-Flex-Cell {
  flex: 0;
  display: block;
  user-select: none;
  color: lightgray;
  text-align: center;
  background-color: #efefef;
}

.IWA-Flex-Cell:hover {
  background-color: #dadada;
}

.IWA-Cell-Drag-Over {
  border: 1px dashed tomato;
}

/* ******************************************************************************* */
.N_Button {
  padding: 0.75em;
  color: white;
  border-radius: 0.5em;
  background-color: royalblue;
  border: none;
}
